.headerLink {
	width: fit-content;
	height: 52px;
	padding: 12px;
	font-weight: 700;
	font-size: 20px;
	color: $secondary-100;
	background: transparent;
	border: none;
	&:hover {
		color: $secondary-500;
	}
	&:focus {
		color: $secondary-500;
	}
}
