.customer-card-nomask {
	width: 100%;
	border-radius: 0;
	border: 0;
	// 確保卡片內的絕對定位不會超出邊框
	overflow: hidden;
	background-color: transparent;
	.card-img-top {
		height: 224px;
		border-radius: 0;
		object-fit: cover;
	}
	.card-body {
		padding: 12px;
		text-align: start;
	}
	.card-title {
		font-weight: 400;
		color: $secondary-100;
	}
	.card-text {
		color: $secondary-300;
	}

	.btn {
		width: 40px;
		height: 40px;
		padding: 8px;
		border: none;
	}
	&:hover {
		cursor: pointer;
	}
}
